{% extends 'centroherd/base.html' %}
{% block title %}Listagem de Pacientes{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<table class="table">
				<thead>
				  <tr>
					<th scope="col">Name</th>
					<th scope="col">Cpf</th>
					<th scope="col">Status</th>
				  </tr>
				</thead>
				<tbody>
				  {% for patient in patients %}
				  <tr>
					<td>{{ patient.name }}</td>
					<td>{{ patient.cpf }}</td>
					<td>{{ patient.status }}</td>
				  </tr>
				  {% endfor %}
			  </table>
		</div>
		<div class="pagination">
			<span class="step-links">
					{% if posts.has_previous %}
							<a href="?page={{ patients.previous_page_number }}">Anterior</a>
					{% endif %}
	
					<span class="current">
							{{ patients.number }} de {{ patients.paginator.num_pages }}
					</span>
	
					{% if posts.has_next %}
							<a href="?page={{ patients.next_page_number }}">Próxima</a>
					{% endif %}
			</span>
		</div>
	</div> 
{% endblock %}