{% extends 'centroherd/base.html' %}
{% load bootstrap %}
{% block title %}Lista de pacientes{% endblock %}

{% block content %}
	<div class="pagination">
		<span class="step-links">
			{% if patients.has_previous %}
				<a href="?page={{ patients.previous_page_number }}">Anterior</a>
			{% endif %}
		
			<span class="current">
				{{ patients.number }} de {{ patients.paginator.num_pages }}
			</span>
		
			{% if patients.has_next %}
				<a href="?page={{ patients.next_page_number }}">Próxima</a>
			{% endif %}
		</span>
	</div>
{% endblock %}